*~
*.db*
photos/*
.dub
docs.json
__dummy.html
docs/
/tum-guessr
/sessions
tum-guessr.so
tum-guessr.dylib
tum-guessr.dll
tum-guessr.a
tum-guessr.lib
tum-guessr-test-*
*.exe
*.pdb
*.o
*.obj
*.lst
*.swp
*.swo
*.swn
