<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TUM Guessr</title>
	<link rel="stylesheet" href="style.css">	
</head>
<body style="overflow: auto; padding-bottom: 5rem">
    {{> header}}
		<div class="content" style="color: white; padding: 2rem">
				<h1>Welcome to TUM Guessr</h1>
				<div style="width: 40%; margin: 0 auto; text-align: justify">
						<p><strong>TUM Guessr</strong> is a passion project inspired by the idea of bringing GeoGuessr-style gameplay to a place many of us know and love — the campuses of the Technical University of Munich.</p>
						<p>As students, we spend years walking the same paths, finding shortcuts between lectures, discovering quiet spots to study, or just grabbing coffee between classes. But how well do we really know our campus? Whether it’s the vast science hub in Garching, the iconic buildings in Innenstadt, or the quieter corners of other TUM locations, this game invites you to test your memory and eye for detail.</p>
						<p>You’ll be shown a series of random images from somewhere on TUM’s campuses — your job is to guess where it was taken. It’s a fun way to explore the university from a new perspective, compete with friends, or even discover spots you’ve never seen before.</p>
						<p>Built by fellow students, but it’s meant to be more than just a solo project — you can help shape it too. If you have photos from around campus, you can contribute by uploading your own images. Whether it’s a favorite hangout spot, a hidden corner, or just a unique view, every picture helps make the game more diverse and accurate for everyone.</p>
						<p style="text-align: center">View the project on <a href="https://github.com/sil3nt/tum-guessr" target="_blank" rel="noopener">GitHub</a>.</p>
				</div>
		</div>
		<hr>
		<div style="width: 80%; margin: 0 auto">
				<h2>Contact</h2>
				<form action="mailto:sil3nt@gmx.de" method="POST" enctype="text/plain" style="margin-left: 4rem; margin-right: 4rem">
						<label for="name">Name:</label><br />
						<input type="text" id="name" name="name" required /><br />
						
						<label for="email">Email:</label><br />
						<input type="email" id="email" name="email" required /><br />

						<label for="message">Message:</label><br />
						<textarea id="message" name="message" rows="5" style="width: 60%; height: 300px" required></textarea><br />
						
						<input type="submit" value="Send" />
				</form>
		</div>
</body>
</html>
