<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
	  <link rel="stylesheet" href="/style.css">	
  </head>
  <body class="scroll-enabled">
    {{> header}}

		{{#error_messages}}
      {{>error_message}}
    {{/error_messages}}
    {{#info_messages}}
      {{>info_message}}
    {{/info_messages}}

		{{> admin-nav}}
    <h1>Users</h1>
		<div class="center" style="justify-content: normal">
			{{>page-select-bar}}
			<table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Sign-Up Time</th>
            <th>Admin</th>
            <th>Trusted</th>
            <th>Deactivated</th>
          </tr>
        </thead>
        <tbody>
          {{#users}}
            <tr>	
              <td>{{user_id}}</td>
              <td>{{username}}</td>
              <td>{{sign_up_time}}</td>
              <td><input type="checkbox" onchange='changeUserStatus(this, "{{user_id}}", "is_admin", "{{admin_value}}")' {{admin_checked}}></td>
              <td><input type="checkbox" onchange='changeUserStatus(this, "{{user_id}}", "is_trusted", "{{trusted_value}}")' {{trusted_checked}}></td>
              <td><input type="checkbox" onchange='changeUserStatus(this, "{{user_id}}", "is_deactivated", "{{deactivated_value}}")' {{deactivated_checked}}></td>
            </tr>
          {{/users}}
        </tbody>
			</table>
			{{>page-select-bar}}
		</div>
		<script>
			function changeUserStatus(checkbox, user_id, role, value) {
					if (!confirm(`Confirm change of ${role} to ${value} for user ${user_id}`)) {
							checkbox.checked = !checkbox.checked;
							return false;
					}
					window.location.href = `/admin/set?id=${user_id}&role=${role}&value=${value}&page={{page}}&limit={{limit}}`;
			}
		</script>
  </body>
</html>
