<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin Dashboard</title>
	<link rel="stylesheet" href="/style.css">	
</head>
<body>
    {{> header}}
    <div class="nav-bar">
      <a class="btn" href="/admin/users">Users</a>
      <a class="btn" href="/admin/photos">Photos</a>
      <a class="btn" href="/admin/server_log">Server Log</a>      
    </div>
</body>
</html>
