<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin Dashboard</title>
	<link rel="stylesheet" href="/style.css">	
</head>
<body>
    {{> header}}
		{{> admin-nav}}
    <h1>Users</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>is_admin</th>
            </tr>
        </thead>
        <tbody>
            {{#users}}
            <tr>
                <td>{{user_id}}</td>
                <td>{{username}}</td>
                <td>{{is_admin}}</td>
            </tr>
            {{/users}}
        </tbody>
    </table>
</body>
</html>
