<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>TUM Guessr</title>
		<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
		<link rel="stylesheet" href="style.css">
</head>
<body>		
    {{> header}}
		<div id="photoContainer">
				<div class="image-wrapper">
						<img id="photo" src="res/garching.jpg">
				</div>
		</div>
		<div id="mapContainer">
				<div id="map"></div>
		</div>
		<script src="js/dragimage.js"></script>
		<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
		<script>
     const map = L.map('map').setView([48.2621, 11.6676], 16);
     L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
				 attribution: '© OpenStreetMap contributors'
     }).addTo(map);
		 
		 map.on('click', function(e) {
				 console.log(`Clicked at ${e.latlng.lat}, ${e.latlng.lng}`);
		 });
		 
		 // Resize map properly on hover without causing issues
		 document.getElementById('mapContainer').addEventListener('mouseenter', () => {
				 setTimeout(() => {
						 map.invalidateSize();
				 }, 110);  // Delay to match the CSS transition duration
		 });
		 
		 document.getElementById('mapContainer').addEventListener('mouseleave', () => {
				 setTimeout(() => {
						 map.invalidateSize();
				 }, 110);  // Delay to match the CSS transition duration
		 });
		</script>
</body>
</html>
