<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>TUM Guessr</title>
		<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>		
    {{> header}}
    <h2>Game Finished</h2>
		<div id="resultMapContainer">
			<div style="text-align: left; font-size: 1.2rem; margin-bottom: 20px">
        {{#rounds}}
          Round {{num}}: {{score}}<br>
        {{/rounds}}
        <hr>
        Total: {{total_score}}
      </div>
			<div id="map"></div>
			<button id="newGameButton" class="clickMeButton">New Game</button>
		</div>
		<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
		<script>
		 var rounds = [];

		 {{#rounds}}
			 rounds.push({
				 guess_location: L.latLng({{guess_latitude}}, {{guess_longitude}}),
				 true_location: L.latLng({{true_latitude}}, {{true_longitude}})
			 });
		 {{/rounds}}

     {{> map_location}}
		 L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			 attribution: '© OpenStreetMap contributors'
		 }).addTo(map);

	 	 var greenIcon = L.icon({
       iconUrl: "https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png",
       iconSize: [25, 41],
       iconAnchor: [12, 41],
       popupAnchor: [1, -34]
     });

     var blueIcon = L.icon({
       iconUrl: "https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-blue.png",
       iconSize: [25, 41],
       iconAnchor: [12, 41],
       popupAnchor: [1, -34]
     });

     // Add markers to the map
		 rounds.forEach( function(round) {
			 L.marker(round.guess_location, {icon: blueIcon}).addTo(map).bindPopup("Guess Location");
			 L.marker(round.true_location, {icon: greenIcon}).addTo(map).bindPopup("True Location");
			 // Draw a dotted line between the markers
			 var dottedLine = L.polyline([round.guess_location, round.true_location], {
				 color: "black",
				 weight: 2,
				 dashArray: "5, 10"
			 }).addTo(map);
		 });
		 
		 const newGameButton = document.getElementById("newGameButton");
		 newGameButton.addEventListener("click", function() {
			 window.location.replace("/game?location={{location}}");
		 });
		</script>
	</body>
</html>
