<header>
		<div class="left">
				<a class="home" href="/">TUM Guessr</a>
		</div>
		<div class="right">
				<a class="btn" href="/about">About</a>
				{{#logged_in}}
				<a class="btn" href="/profile">Profile</a>
				<a class="btn" href="/logout">Logout</a>
				{{/logged_in}}
				{{^logged_in}}
				<a class="btn" href="/login">Login</a>
				<a class="btn" href="/sign_up">Sign Up</a>
				{{/logged_in}}
		</div>
</header>
