<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TUM Guessr</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
    {{> header}}
		<div class="content">
				<h1>Welcome to TUM Guessr</h1>
				<div class="wip">🚧 This website is a work in progress 🚧</div>
				<div class="carousel" id="carousel">
						<div class="card">
								<h2>Campus Munich</h2>
								<img src="res/muenchen.jpg" alt="Main Campus" id="disabled">
						</div>
						<div class="card">
								<h2>Campus Garching</h2>
								<img src="res/garching.jpg" alt="Garching Campus">
						</div>
						<div class="card">
								<h2>Campus Weihenstephan</h2>
								<img src="res/weihenstephan.jpg" alt="Weihenstephan Campus" id="disabled">
						</div>
				</div>
		</div>
		<script>
		 const carousel = document.getElementById('carousel');
		 let cards = Array.from(carousel.children);

		 function render() {
				 cards.forEach((card, i) => {
						 card.className = 'card';
						 if (i === 0) card.classList.add('cleft');
						 else if (i === 1) card.classList.add('ccenter');
						 else if (i === 2) card.classList.add('cright');
				 });
		 } 
		 function rotateRight() {
				 var c = cards.pop();
				 cards.unshift(c);
				 render();
		 }
		 function rotateLeft() {
				 var c = cards.shift();
				 cards.push(c);
				 render();
		 }
		 cards.forEach((card, i) => {
				 card.addEventListener('click', (event) => {
						 if (card.classList.contains("cleft"))
								 rotateRight();
						 else if (card.classList.contains("cright"))
								 rotateLeft();
				 });
		 });
		 
		 render();
		</script>
</body>
</html>
