{{#garching}}
	const map = L.map('map').setView([48.2621, 11.6676], 16);
{{/garching}}
{{#heilbronn}}
	const map = L.map('map').setView([49.1475, 9.2137], 16);
{{/heilbronn}}
{{#muenchen}}
	const map = L.map('map').setView([48.149184, 11.566742], 16);
{{/muenchen}}
