<div class="page-select-bar">
	{{#prev_pages}}
	<a href="{{parent_page}}?page={{prev_page}}&limit={{limit}}">{{prev_page}}</a>
	{{/prev_pages}}
	<a>{{page}}</a>
	{{#next_pages}}
	<a href="{{parent_page}}?page={{next_page}}&limit={{limit}}">{{next_page}}</a>
	{{/next_pages}}
</div>
