<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TUM Guessr</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  {{> header}}

  <div class="content" style="text-align: left; margin: 0 auto; width: 60%">
    <h1>{{username}}</h1>
    {{#logged_in}}
    {{/logged_in}}
    <hr>
    <p>Joined: {{join_date}}</p>
    <p>Played Games: {{games_played}}</p>
    <p>Uploaded Photos: {{photos_uploaded}}</p>
  </div>
</body>
</html>
