<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TUM Guessr</title>
	  <link rel="stylesheet" href="style.css">	
  </head>
  <body class="scroll-enabled">
    {{> header}}
		<div class="content" style="color: white; padding: 2rem">
      <form action="/report" method="POST">
        <p>Please state why you want to report this image here:</p>
				<input type="hidden" name="photo_id" value="{{photo_id}}">
				<label for="message">Message:</label><br>
				<textarea id="message" name="message" rows="5" style="width: 60%; height: 300px" required></textarea><br>
				<input type="submit" value="Send"/>
      </form>
    </div>
  </body>
</html>
