/* Define Variables for consisten styling here */
:root {
		--background: #121416;
		--accent: #2e6eb1;
		--hightlight: #3f7fef;
		--error: #ee1111;
}
body {
		font-family: sans-serif;
		text-align: center;
		background-color: var(--background);
		color: var(--accent);
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
		overflow-x: hidden;
}

header {
    background: var(--accent);
    color: white;
		max-width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn {
		color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
		border: 1px solid white;
    display: inline-block;
}
.home {
		color: white;
		font-size: 1.5rem;
    text-decoration: none;
}
.center {
    display: flex;
		flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    box-sizing: border-box;
}
.error-container {
		color: var(--error);
    justify-content: center;
		display: flex;
		padding: 5px;
		margin: 5px;
		font-size: 1.1em;
		border: 1px solid var(--error);
		border-radius: 5px;
}
form {
		padding: 10px;
		outline: 2px solid var(--accent);
		border-radius: 5px;
		outline-offset: 4px;
		text-align: center;
}
input, textarea {
		color: white;
		padding: 5px;
		margin: 5px;
		font-size: 1.1em;
		background-color: var(--background);
		border: 1px solid var(--accent);
		border-radius: 5px;
}
input.disabled {
  pointer-events: none;
  opacity: 0.5;
}
input:hover .btn:hover {
		border-color: var(--highlight) 
}
input[type="submit"]:disabled {
		border-color: var(--error);
		cursor: not-allowed;
}

/* Index Page */
.carousel {
    position: relative;
    width: 100%;
		aspect-ratio: 16/10;
    display: flex;
    justify-content: center;
    align-items: top;
		margin-top: 2rem;
    overflow: hidden;
}
.card {
    position: absolute;
    width: 40%;
    aspect-ratio: 16 / 10;
    transition: transform 0.5s, z-index 0.25s;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
		align-items: center;
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card h2 {
		position: absolute;
		top: 70%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;
		font-size: 2vw;
		font-weight: bold;
		text-shadow: 3px 3px 5px rgba(0,0,0,0.7);
		z-index: 1;
}
@media (max-width: 600px) {
		.card h2 {
				top: 60%;
				font-size: 4vw;
		}
}
.cleft {
    transform: translateX(-70%) scale(0.8);
    z-index: 1;
}
.ccenter {
    transform: translateX(0) scale(1);
    z-index: 2;
}
.cright {
    transform: translateX(70%) scale(0.8);
    z-index: 1;
}
img#disabled {
		filter: grayscale(100%);
}

/* Photo View CSS */
#photoContainer {
		width: 100%;
		height: 80vh;
		overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (orientation: portrait) {
		#photoContainer {
				height: 50vh;
		}
}
.image-wrapper {
    position: absolute;
    cursor: grab;
}
#photo {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
		user-drag: none;
}

/* Map CSS */
#mapEmbed {
		width: 100vw;
		height: 55vh;
		margin-bottom: 1em;
}
/* Do styling based on landscape/portrait modes using CSS media queries */
#mapContainer {
		position: fixed;
		bottom: 20px;
		right: 20px;
		width: 30%;
		height: 30%;
		z-index: 9999;

		display: flex;
		justify-content: center;
		align-items: center;

		transition: all 0.1s ease;
}
@media (orientation: landscape) {
		#mapContainer:hover {
				width: 60%;
				height: 60%;
		}
}
@media (orientation: portrait) {
		#mapContainer {
				bottom: 0px;
				right: 0px;
				width: 100%;
				height: 45%;
		}
}
#map {
		width: 100%;
		height: 100%;
}
